<h1 class="text-2xl text-blue-500 font-semibold" >Coding a new commerce</h1>

{% schema %}
  {
    "name": "Main index",
    "settings": [],
    "presets": [
      {
        "name": "Main index"
      }
    ]
  }
{% endschema %}